build-armadillotest-Desktop-Debug/
build-exercise1-Desktop-Debug/
build-exercise11-Desktop-Debug/
build-exercise2-Desktop-Debug/
build-provearmadillo-Desktop-Debug/
build-test-Desktop-Debug/
exercise1/
exercise11/
exercise2/
prosjekt 1/
test/
tull3/
untitled/

